*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.debug{
  border: 1px solid white;
}

/*UTILITY*/
.w25{
  width: 25%;
}

.w50{
  width: 50%;
}

.d-flex{
  display: flex;
}

.txt-grey{
  color: #7B7E82;
}

.txt-white{
  color: white;
}

.container{
  margin: 0 auto;
  max-width: 100%;
}

.row{
  display: flex;  
  width: 100%;
  gap: 15px;
}

.col{
  width: calc(100% / 6);
}

.card{
  width: 100%;
  display: block;
  
}

.btn{
  border: 1px solid white;
  border-radius: 30px;
  background-color: #080B12;
  padding: 10px 40px;
}

/*--------------------------------------MAIN-------------------------*/
main{
  height: calc(100vh - 90px);
}

main .container{
  height: 100%;
  display: flex;
}

main ul{
  list-style: none;
  color: #FFFFFF;
}

main ul li{
  color: #7B7E82;
}

/*main sidebar*/

main aside{
  height: 100%;  
  width: 230px;
  background-color: #000000;
}

main .sidebar{
  overflow: auto;
  height: calc(100% - 80px);
  padding: 20px 0 0 20px;
}

main .sidebar .logo{
  margin-bottom: 20px;
}

main .sidebar .logo img{
  max-width: 70%;
}

main .sidebar .search{
  margin-bottom: 20px;
}

main .sidebar .search ul li{
  display: flex;
  padding: 5px 0;
  font-size: 0.8rem;
}

main .sidebar .search ul li:nth-child(2)::before{
  content: url(../img/home.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
}

main .sidebar .search ul li:nth-child(3)::before{
  content: url(../img/search.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
}

main .sidebar .search ul li:last-child::before{
  content: url(../img/libreria.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
}

main .sidebar .playlist span{
  background-color: #A3A3A3;
  color: black;
  padding: 0 11px;
  font-size: 1.8rem;
}

main .sidebar .playlist ul li{
  padding: 8px 0;
  font-size: 0.8rem;
}

main .aside-footer{
  width: 100%;
  height: 80px;
  padding: 5px 0 5px 20px;
}

main .aside-footer h4::before{
  content: url(../img/download.svg);
  width: 16px;
  height: 16px;
  display: inline-block;
  padding-right: 5px;
  text-align: center;
}

main .aside-footer h3::before{
  content: url(../img/profile.svg);
  width: 16px;
  height: 16px;
  background-color: #7B7E82;
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
  text-align: center;
  margin-right: 5px;
}

main .aside-footer hr{
  width: 90%;
  margin: 5px 0;
}


/*main content*/

main .music{
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #141922;
}

main .upgrade{
  width: 100%;
  text-align: right;
  padding: 20px 10px 30px;
  background-color: #080B12;
}

main .upgrade a{
  text-decoration: none;  
  color: white;
  font-weight: 900;
}

main .music-nav ul{
  width: 50%;
  justify-content: space-between;
  margin: 20px auto;
  flex-wrap: wrap;
}

main .music-nav ul li{
  justify-content: center;
}

main .row-title,
main .row{
  padding: 0 20px;
}

main .row-title{
  margin: 20px 0;
}

main .card .c-img{
  margin: 0 auto;
  width: 100%;
}

main .card .c-txt{
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

main .card img{
  max-width: 100%;
  max-height: 100%;
}

main h2{
  color: white;
  font-size: 1.5rem;
}

main h3{
  color: white;
  font-size: 1rem;
}

main h4{
  color: #7B7E82;
  font-size: 0.8rem;
}

/*------------------------------------PLAYER-----------------------------*/
footer.player{
  height: 90px;
  background-color: #282828;
}

footer .navbar{
  height: 100%;
}

footer .navbar nav{
  display: flex;    
  padding: 0 20px;
}

footer .navbar ul{
  list-style: none;
  display: flex;
  gap: 15px;
}

footer .navbar ul li{
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 0.8rem;
}

footer .navbar ul img{
  max-width: 40px;
  max-height: 40px;
  margin-right: 10px;
}

.justify-end{
  justify-content: flex-end;
}

.align-center{
  align-items: center;
}






/*-----------------------RESPONSIVE-------------------*/

@media screen and (max-width: 1100px){
  .container{
    max-width: 1100px;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
  }

  .col{
    width: calc(25% - 15px);
  }
  
}

@media screen and (max-width: 700px){
  .row{
    display: flex;
    flex-wrap: wrap;
  }

  .col{
    width: calc(50% - 15px);
  }
  
}
  
 